.start {
   padding: 1em;
   height:  3em;
   border-radius: 2px;
   justify-content: center;
   align-items: center;

}
.centered{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 90vh;
}